.btn.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s ease-in;
    -webkit-transition: all .5s ease-in;
}

.btn-outline, .btn-outline.btn-primary {
	/*color: darken($brand-primary, 10%);*/
	/*border: 1px solid darken($brand-primary, 10%);;*/
	color: #556272;
	border: 1px solid #556272;
}
.btn-outline:hover {
	color: #fff;
	/*background-color: $emerald;*/
	background-color: #556272;
}

.btn-lg-plus {
	border-width: 2px; font-size: 28px;
}

.btn-flat {
	color: #fff;
	border: none;
	-webkit-font-smoothing: antialiased;
}

.btn-flat, .btn-primary.btn-flat {
	color: #fff;
	background-color: $brand-primary;
	-webkit-box-shadow: 0 3px 0 0 darken($brand-primary, 10%);
	box-shadow: 0 3px 0 0 darken($brand-primary, 10%);
}
.btn-primary.btn-flat:hover {
	background-color: darken($brand-primary, 10%);
	/*-webkit-box-shadow: 0 3px 0 0 $brand-primary;*/
	/*box-shadow: 0 3px 0 0 $brand-primary;*/
}

.btn-lg.btn-lg-plus.btn-flat, 
.btn-lg.btn-lg-plus.btn-flat.btn-primary
 {
	-webkit-box-shadow: 0 5px 0 0 darken($brand-primary, 10%);
	box-shadow: 0 5px 0 0 darken($brand-primary, 10%);
}
.btn.btn-flat:hover {
	color: #fff;
}

