.jumbotron{
	background-color: #ffffff;
	padding-left: 0px;
	padding-right: 0px;
}
/*nav*/
.navbar{
	border-radius: 0px;
	border: none;
	margin-bottom: 0px;
}
.navbar-inverse{
	background-color:rgba(0,0,0,0.8);
}
.navbar-inverse .navbar-nav>.active>a{
	background-color: #ff3333;
	color: #ffffff;
}
.navbar-inverse .navbar-nav>.active>a:hover{
	background-color: #ff3333;
	color: #ffffff;
}
.navtop{
	height: 50px;
}
/*nav*/
/*button*/
.btn-lg{
	font-size: 24px;
	padding: 5px 45px;
	border-radius: 28px;
}
.btn-danger{
	background: none;	
}
.btn-default{
	background: none;
	margin-top: 50px;
}
.btn-danger:hover{
	border-color: #d43f3a;
}
.btn-default:hover{
	background-color: #d43f3a;
	border-color: #d43f3a;
	color: #fff;
}
.btn-default:active{
	background-color: #d43f3a;
	color: #fff;
}
.btn-default:focus{
	background-color: #d43f3a;
	color: #fff;
}
.btn{
	border: 2px solid #d43f3a ;
}
/*button*/
.row{
	margin-top: 30px;
}