html, body{
	height: 100%;
}
.middle{
	text-align: center;
}
.home{
	background-image: url(../img/home-bg.jpg);
	background-attachment: fixed;
	background-position: 50%,50%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: 100%;
	margin-bottom: 0px;
}
.banner{
	margin-top: 15%;
}
.home h1{
	font-size: 110px;
	color: #ffffff;
	font-weight: bold;
}
.home p{
	color: #ffffff;
	font-size: 28px;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 30px;
}
.about{

}
.material{
	background-color: #003366;
}
.text-w>h1,.text-w>p{
	color: #fff;
}
.countries{
	margin-top: 10px;
}
.countries>div>img{
	border-radius: 32px;
}
.countries>div>p{
	color: #ffffff;
	font-weight: normal;
	font-size: 16px;
	margin-top: 10px;
}
.deliver{
	background-image: url(../img/trainstation.png);
	background-attachment: fixed;
	background-position: 50%,50%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: 100%;
}
.customers-bg{
	background-image: url(../img/customer-bg.png);
}
.customerlogo{
	margin-top: 50px;
}